{% extends "layout.html" %}
{% block content %}
             	<h1>Who are we?</h1>
             	<p>
             		We here at YourSpace are group of people with a view to provide users with a platform to write plogs and post them on our website.
             	</p>
             	<p>We do not charge to write blogs and to publish them. This Platform makes the users easy to spread their views on any topics regardless of particular streams</p>
            <!-- 	<div class="card" style="width:50%; left:25%;">
  <img class="card-img-top" src="{{ url_for('static', filename='profile_pics/default.jpg') }}" alt="Card image">
  <div class="card-body">
    <h4 class="card-title">Avishkar Hande</h4>
    <p class="card-text">Founder, YourSpace</p>
    <a href="#" class="btn btn-primary">Contact at avishkarhande@gmail.com</a>
  </div>-->
  <div class="card" style="width:40%;margin-left: 30%;">
    <img class="card-img-top" src="{{ url_for('static', filename='profile_pics/admin.jpg') }}" alt="Card image" style="width:100%">
    <div class="card-body">
      <h4 class="card-title">Avishkar A. Hande</h4>
      <p class="card-text">An aspiring computer engineer. Into web development since 2017.</p>
      <p class="card-text">Founder,YourSpace</p>
    </div>
</div>
{% endblock content %}